<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCase.ConcernTestCase"/>
      <class name="testCase.ConsultancyMenu"/>
      <class name="testCase.ContractUsMenuTestCase"/>
      <class name="testCase.OtaPortalMenuTestCase"/>
      <class name="testCase.GalleryMenuTestCase"/>
      <class name="testCase.AboutUsMenuTestCase"/>
      <class name="testCase.HomeMenuTestCase"/>
      <class name="testCase.ServicesMenuTestCase"/>
      <class name="testCase.BlogMenuTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
